% -*- mode: erlang -*-
{erl_opts, [debug_info,
	    %fail_on_warning
	    {src_dirs, ["src/client", "src/compat", "src/core", "src/network", "src/server"]}]}.

{require_otp_vsn, "R12B-5|R1[3456].*"}.

{pre_hooks, [
	     {compile, "include/internal/exmpp_known_nss.hrl.es include/internal/exmpp_known_nss.in > include/internal/exmpp_known_nss.hrl"},
	     {compile, "include/internal/exmpp_known_elems.hrl.es include/internal/exmpp_known_elems.in > include/internal/exmpp_known_elems.hrl"},
	     {compile, "include/internal/exmpp_known_attrs.hrl.es include/internal/exmpp_known_attrs.in > include/internal/exmpp_known_attrs.hrl"},
	     {compile, "src/exmpp_known_nss.erl.es include/internal/exmpp_known_nss.in > src/exmpp_known_nss.erl"},
	     {compile, "src/exmpp_known_elems.erl.es include/internal/exmpp_known_elems.in > src/exmpp_known_elems.erl"},
	     {compile, "src/exmpp_known_attrs.erl.es include/internal/exmpp_known_attrs.in > src/exmpp_known_attrs.erl"}
	    ]}.

{port_specs, [
	      {"priv/lib/exmpp_xml_libxml2.so",
	       ["c_src/exmpp_driver.o", "c_src/exmpp_xml.o", "c_src/exmpp_xml_libxml2.o"],
	       [{"LDFLAGS", "$LDFLAGS -lxml2"}]},
	      {"priv/lib/exmpp_stringprep.so",
	       ["c_src/exmpp_driver.o", "c_src/exmpp_stringprep.o"]},
	      {"priv/lib/exmpp_zlib.so",
	       ["c_src/exmpp_driver.o", "c_src/exmpp_compress_zlib.o"],
	       [{"LDFLAGS", "$LDFLAGS -lz"}]},
	      {"priv/lib/exmpp_openssl.so",
		["c_src/exmpp_driver.o", "c_src/exmpp_tls.o", "c_src/exmpp_tls_openssl.o"],
		[{"LDFLAGS", "$LDFLAGS -lssl"}]}
	     ]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -I/usr/include/libxml2"}
	   ]}.
